.highlight-yellow-text {
    color: #ffdd2d!important;
}

.highlight-blue-text {
    color: #42affa!important;
}

.highlight-green-text {
    color: #8cb517 !important;
}

.reveal ul, ol, p {
    font-size: 32px;
}

.left-text {
    text-align: left;
}